.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* overflow: hidden; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #e0e0e0;
}

.shopify-buy__product-img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 0px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
}

.detail_container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  color: #333;
  padding: 60px;
  max-height: 100vh;
  overflow-y: scroll;
}

.product_footer {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area Area Area-2 Area-2 Area-2 Area-3 Area-4 Area-4 Area-5 Area-5";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #d2d2d2;
}

.shopify-buy__product__variant-img {
  width: 100%;
  /* max-height: 500px; */
  width: auto;
  padding: 0px;
}

.link {
  display: block;
  color: #818181;
  font-size: 11px;
  text-decoration: none;
}

.div-block-5 {
  padding: 20px 20px 20px 60px;
}

.link-2 {
  display: block;
}

.div-block-6 {
  padding: 20px;
}

.text-block {
  color: #818181;
  font-size: 11px;
}

.text-block-2 {
  padding: 20px;
  font-size: 20px;
  font-weight: 300;
}

.section {
  font-family: Montserrat, sans-serif;
}

.shopify-buy__btn {
  width: 180px;
  padding: 18px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #818181;
  border-radius: 40px;
  background-color: transparent;
  color: #333;
  text-align: center;
}

.div-block-7 {
  padding-right: 80px;
}

#w-node-_164e7708-68ac-ca47-0b9a-f82be4cdf052-62c7c7ee {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: Area-2;
}

#w-node-_86f9db59-f15b-8f94-8e84-8057117d35fd-62c7c7ee {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
  -ms-grid-column-span: 3;
  grid-area: Area-4;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_04595991-cd52-392e-a690-cc68d5684f6d-62c7c7ee {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: Area;
}

#w-node-_9cc68a89-db0a-ef85-4e4f-829a2ea86ea2-62c7c7ee {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
  -ms-grid-column-span: 3;
  grid-area: Area-5;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}