h1#rare-work-large-title,
h1#rare-work-left-title,
h1#rare-work-right-title {
  font-size: 60px;
  line-height: 56px;
  margin: initial;
}

h1#rare-work-right-title {
  padding-left: initial;
}

div#rare-work-large-collection,
div#rare-work-large-price,
div#rare-work-left-collection,
div#rare-work-left-price {
  font-family: Nh35lt;
  font-size: 15px;
  line-height: 22px;
}

div.recent_work_new {
  border: initial;
  box-sizing: initial;
  color: initial;
  display: none;
  font-size: initial;
  font-weight: initial;
  letter-spacing: initial;
  line-height: initial;
  margin-top: initial;
}

div#rare-work-right-collection,
div#rare-work-right-price {
  font-family: Nh35lt;
  font-size: 15px;
  line-height: 22px;
  padding-left: initial;
}

a#rare-work-right-purchase.recent_work_purchase_option {
  padding-left: initial;
}

a#rare-work-large-purchase.recent_work_purchase_option,
a#rare-work-left-purchase.recent_work_purchase_option,
a#rare-work-right-purchase.recent_work_purchase_option {
  border: initial;
  border-bottom: 2px solid #aaa;
  padding-bottom: 4px;
}